$app-blue: #4a70c3;

$app-blue-light:#94b2ec;
$app-blue-light2:#197ea3;
$app-blue-light3:#328cad;

$app-blue-dark: #314B82;
$app-blue-dark2: #213C75;

$app-red:#8C4900;
$app-red-dark:#402100;

$app-yellow: #D2D904;
$excel-green:#1d6f42;
$excel-light-green:#347D55;
