@import "/src/styles/variables";

.auth-bg {
  min-height: 100vh;
  // background: linear-gradient(140deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  //   url(/assets/images/bg8.jpg) no-repeat;
  //background: linear-gradient(140deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-size: auto, auto;
  background-position: center;
  background-size: cover;
  background-color: $app-blue-light;
  //background-color: #fff;
}
