<ol class="breadcrumb bg-transparent mb-1 pl-0 mt-4">
    <li
    class="breadcrumb-item">
    <a [routerLink]="['/dashboard']" class="text-app-blue">
      <!-- <fa-icon [icon]="['fas', 'home']"></fa-icon> -->
      <i class="fa fa-home"></i>
      </a
    >
  </li>
  <li
    class="breadcrumb-item"
    *ngFor="let breadcrumb of breadcrumbs"
    [ngClass]="{ active: breadcrumb.active }"
  >
    <a *ngIf="breadcrumb.link" class="text-app-blue" [routerLink]="breadcrumb.link">{{
      breadcrumb.text
    }}</a
    ><span *ngIf="!breadcrumb.link">{{ breadcrumb.text }}</span>
  </li>
</ol>
