<div class="modal-header">
    <h4 class="modal-title">New Participant</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="participantForm" class="row gy-3">
        <div class="col-12">
            <label for="skill" class="text-secondary">Skill <span style="color:red;">*</span></label>
            <select id="skill" class="form-select" formControlName="skill">
                <option>Select Option</option>
                <option value="Angular">Angular</option>
                <option value="Node">Node</option>
                <option value="Express">Express</option>
            </select>
        </div>
        <div class="col-12">
            <label for="percentage" class="text-secondary">Percentage <span style="color:red;">*</span></label>
            <input type="number" id="percentage" min="0" max="100" class="form-control" placeholder="Percentage equity %" formControlName="percentage_offered" />
        </div>
        <div class="col-12">
            <label for="contract" class="text-secondary">Contract Type <span style="color:red;">*</span></label>
            <select id="contract" class="form-select" formControlName="contract_type">
                <option>Select Option</option>
                <option value="Partner">Partner</option>
                <option value="Employee">Employee</option>
                <option value="Contractor">Contractor</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button (click)="submitForm()" type="button" class="btn app-btn-primary"><i class="fa fa-check-circle"></i> Create</button>
    <button type="button" class="btn btn-outline-secondary" (click)="dismiss()"><i class="fa fa-times-circle"></i> Cancel</button>
</div>