<div *ngIf="data">
    <div class="table-responsive">
        <table class="table table-hover">
            <ng-container [ngTemplateOutlet]="headTemplate" [ngTemplateOutletContext]="{ page: data.currentPage, size:pageSize }"></ng-container>
            <tbody>
                <ng-container *ngIf="!isLoading">
                    <ng-container *ngFor="let item of data.records;let i = index">
                        <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{ item:item, index:i, page: data.currentPage, size:pageSize }"></ng-container>
                    </ng-container>
                </ng-container>
                <tr *ngIf="data.records!.length == 0 && !isLoading">
                    <td colspan="100%" class="p-0">
                        <p class="m-0 text-secondary bg-light py-3 text-center"><i class="fa fa-info-circle"></i> No records found!</p>
                    </td>
                </tr>
                <tr *ngIf="isLoading">
                    <td colspan="100%" class="p-0">
                        <p class="m-0 text-secondary bg-light py-3 text-center"><i class="fa fa-circle-notch fa-spin"></i> Loading...</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <ngb-pagination class="d-flex justify-content-center"
            [collectionSize]="data.totalRecordCount!"
            [pageSize]="pageSize"
            [(page)]="page"
            [maxSize]="7"
            [rotate]="true"
            [boundaryLinks]="true"
            [disabled]="isLoading"
            (pageChange)="onPageChange($event)">
        </ngb-pagination>
    </div>
</div>