<span [ngClass]='{"sb-nav-fixed": !static}'
    ><sb-top-nav></sb-top-nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav"><sb-side-nav [sidenavStyle]="sidenavStyle" [sideNavItems]="sideNavItems" [sideNavSections]="sideNavSections"></sb-side-nav></div>
        <div id="layoutSidenav_content" class=" bg-light2" (click)="onContentClick()">
            <main>
                <div class="container-fluid"><ng-content></ng-content></div>
            </main>
            <sb-footer></sb-footer>
        </div></div
></span>

<!-- <app-loader></app-loader> -->
<!-- <p-toast key="t-default"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle" styleClass="max-width-400">
    <ng-template pTemplate="footer">
      <button type="button" class="btn btn-sm px-3 app-btn-outline-primary" (click)="cd.reject()"><fa-icon [icon]="['fas', 'times']"></fa-icon> No</button>
      <button type="button" class="btn btn-sm px-3 app-btn-primary" (click)="cd.accept()"><fa-icon [icon]="['fas', 'check-circle']"></fa-icon> Yes</button>
  </ng-template>
</p-confirmDialog> -->