a.card,
a.card:hover {
  color: var(--text-color);
}
a.card:hover {
  border-color: var(--link-color);
}

.card {
  max-width: 423px;
  background: #fcfdff;
  border: 0;
  box-shadow: 3px 0px 8px 4px rgba(0, 0, 0, 0.02);
  border-radius: 15px;
  margin: auto;
}
.card .card-body {
  padding: 24px 24px;
}


#image-gallery {
  margin: 10px;
  background: #ffffff;
}

.image-box{
  display: inline-block;
  position: relative;
  border-color: #ffffff;
  width: 10%;
}

img {
  width: 123%;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.dropdown-toggle::after {
  content: none;
}

//@media (max-width: 996px) {
//  .authentication-section > div {
//    width: 100%;
//  }
//}

.btn-primary-two{
  background-color: #0d55fc;
}
