a.card,
a.card:hover {
  color: var(--text-color);
}
a.card:hover {
  border-color: var(--link-color);
}

.card {
  background: #fcfdff;
  border: 0;
  box-shadow: 3px 0px 8px 4px rgba(0, 0, 0, 0.02);
  margin: auto;
}

#image-gallery {
  margin: 10px;
  background: #ffffff;
}

.image-box{
  display: inline-block;
  position: relative;
  border-color: #ffffff;
  width: 7%;
}

.img-team {
  width: 123%;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.dropdown-toggle::after {
  content: none;
}
@media (max-width: 420px) {
  .image-box {
    display: inline-block;
    position: relative;
    border-color: #ffffff;
    width: 10%;
  }
}

@media (min-width: 815px) {
.image-box {
    display: inline-block;
    position: relative;
    border-color: #ffffff;
    width: 7%;
  }
}

.btn-primary-two{
  background-color: #0d55fc;
}
