<sb-layout-dashboard>
  <sb-dashboard-head
    title="Lineage Tree"
    [hideBreadcrumbs]="false"
  ></sb-dashboard-head>

  <div class="row gy-3">
    <div class="col-md-12">
      <div class="card">
        <div class="container p-5">
          <div class="row">
            <div class="col-md-12">
              <div class="main-timeline">
                <div class="timeline">
                  <a href="#" class="timeline-content">
                    <div class="timeline-year">2021</div>
                    <h3 class="title">Web Designing</h3>
                    <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Integer males uada tellus lorem, et condimentum neque
                      commodo Integer males uada tellus lorem, et condimentum
                      neque commodo
                    </p>
                    <button class="btn app-btn-primary">View Project</button>
                  </a>
                </div>
                <div class="timeline">
                  <a href="#" class="timeline-content">
                    <div class="timeline-year">2020</div>
                    <h3 class="title">Web Development</h3>
                    <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Integer males uada tellus lorem, et condimentum neque
                      commodo Integer males uada tellus lorem, et condimentum
                      neque commodo
                    </p>
                  </a>
                </div>
                <div class="timeline">
                  <a href="#" class="timeline-content">
                    <div class="timeline-year">2020</div>
                    <h3 class="title">Web Development</h3>
                    <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Integer males uada tellus lorem, et condimentum neque
                      commodo Integer males uada tellus lorem, et condimentum
                      neque commodo
                    </p>
                  </a>
                </div>
                <div class="timeline">
                  <a href="#" class="timeline-content">
                    <div class="timeline-year">2020</div>
                    <h3 class="title">Web Development</h3>
                    <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Integer males uada tellus lorem, et condimentum neque
                      commodo Integer males uada tellus lorem, et condimentum
                      neque commodo
                    </p>
                  </a>
                </div>
                <div class="timeline">
                  <a href="#" class="timeline-content">
                    <div class="timeline-year">2020</div>
                    <h3 class="title">Web Development</h3>
                    <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Integer males uada tellus lorem, et condimentum neque
                      commodo Integer males uada tellus lorem, et condimentum
                      neque commodo
                    </p>
                  </a>
                </div>
                <div class="timeline">
                  <a href="#" class="timeline-content">
                    <div class="timeline-year">2020</div>
                    <h3 class="title">Web Development</h3>
                    <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Integer males uada tellus lorem, et condimentum neque
                      commodo Integer males uada tellus lorem, et condimentum
                      neque commodo
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</sb-layout-dashboard>
