<sb-layout-dashboard>
  <sb-dashboard-head
    title="Lineage Tree"
    [hideBreadcrumbs]="false"
  ></sb-dashboard-head>

  <div class="row gy-3">
    <div class="col-md-12">
      <div class="card">
        <div class="container p-5">
          <div class="row">
            <div class="col-md-12">
              <div class="main-timeline">

                <div *ngFor="let line of lineage" class="timeline">
                  <a (click)="viewProject(line._id)" class="timeline-content">
                    <div class="timeline-year" style="font-size: 1.4rem;">{{ line.createdAt | date }}</div>
                    <h3 class="title">{{ line.name }}</h3>
                    <p class="description">
                      {{ line.description }}
                    </p>
                    <div *ngIf="line._id === id" class="alert alert-success" role="alert">
                       {{ 'Current Project' | uppercase}}
                    </div>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</sb-layout-dashboard>
