<!--content-->
<div class="row">
  <div class="col-xl-11 col-lg-12">
    <div class="card py-3 rounded-6 shadow-sm">
      <div class="card-body py-lg-4">
        <div class="d-flex flex-row">
          <div class="flex-fill align-self-center">
            <h2>Mobile Applications Dashboard</h2>
            <p class="text-secondary f12" style="line-height: 18px">
              Welcome to CreationAge mobile applications admin portal, a collective
              platform for management of all CreationAge group mobile applications.
              Kindly click on your intended application to proceed.
            </p>
          </div>

          <div>
            <img
              src="assets/images/Apps Dash image.jpg"
              class="img-fluid mb-n5 p-2"
              style="max-width: 200px"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-stretch mt-3">
      <div class="col-sm-4 mb-3">
        <div
          class="d-flex flex-column h-100 bg-white rounded-6 shadow-sm card overflow-hidden menu-card"
        >
          <div class="flex-fill">
            <!-- <a routerLink="/customers/manage-customers" class="menu-link"> -->
            <div class="card h-100 rounded-0 border-0">
              <div class="card-body p-lg-4">
                <div class="d-flex flex-column h-100">
                  <div class="flex-fill align-items-center d-flex">
                    <img
                      src="assets/images/Mobile5.0.svg"
                      class="img-fluid d-block mx-auto"
                      style="max-width: 150px"
                    />

                    <div class="text-center">
                      <h5 class="mt-3 text-dark">Mobile 5.0</h5>
                      <p class="text-secondary f12" style="line-height: 18px">
                        CreationAge mobile banking application 5.0
                      </p>
                      <a href="#" style="color: #2d6ea8"
                        >Click to Launch Portal</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-3">
        <div
          class="d-flex flex-column h-100 bg-white rounded-6 shadow-sm card overflow-hidden menu-card"
        >
          <div class="flex-fill">
            <!-- <a
                routerLink="/customers/customer-transactions"
                class="menu-link"
              > -->
            <div class="card h-100 rounded-0 border-0">
              <div class="card-body p-lg-4">
                <div class="d-flex flex-column h-100">
                  <div class="flex-fill align-items-center d-flex">
                    <img
                      src="assets/images/Screenshot 2022-11-07 at 11.49.59.png"
                      class="img-fluid d-block mx-auto"
                      style="max-width: 150px"
                    />

                    <div class="text-center">
                      <h5 class="mt-3 text-dark">EDC Investor</h5>
                      <p class="text-secondary f12" style="line-height: 18px">
                        EDC Investor mobile application.
                      </p>
                      <a href="#" style="color: #2d6ea8"
                        >Click to Launch Portal</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-3">
        <div
          class="d-flex flex-column h-100 bg-white rounded-6 shadow-sm card overflow-hidden menu-card"
        >
          <div class="flex-fill">
            <!-- <a
                routerLink="/customers/customer-transactions"
                class="menu-link"
              > -->
            <div class="card h-100 rounded-0 border-0">
              <div class="card-body p-lg-4">
                <div class="d-flex flex-column h-100">
                  <div class="flex-fill align-items-center d-flex">
                    <img
                      src="assets/images/Xpress-point.svg"
                      class="img-fluid d-block mx-auto"
                      style="max-width: 150px"
                    />
                    <div class="text-center">
                      <h5 class="mt-3 text-dark">Xpress point</h5>
                      <p class="text-secondary f12" style="line-height: 18px">
                        CreationAge agency banking application.
                      </p>
                      <a href="#" style="color: #2d6ea8"
                        >Click to Launch Portal</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-3">
        <div
          class="d-flex flex-column h-100 bg-white rounded-6 shadow-sm card overflow-hidden menu-card"
        >
          <div class="flex-fill">
            <!-- <a
                routerLink="/customers/customer-transactions"
                class="menu-link"
              > -->
            <div class="card h-100 rounded-0 border-0">
              <div class="card-body p-lg-4">
                <div class="d-flex flex-column h-100">
                  <div class="flex-fill align-items-center d-flex">
                    <img
                      src="assets/images/Authenticator.svg"
                      class="img-fluid d-block mx-auto"
                      style="max-width: 150px"
                    />
                    <div class="text-center">
                      <h5 class="mt-3 text-dark">Authenticator</h5>
                      <p class="text-secondary f12" style="line-height: 18px">
                        CreationAge authenticator mobile application.
                      </p>
                      <a href="#" style="color: #2d6ea8"
                        >Click to Launch Portal</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
