<sb-layout-dashboard>
    <sb-dashboard-head title="Analytics" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <div class="row gy-3">
        <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-fill">
                                <h6 class="opacity-75 fw-semibold">Number of Projects</h6>
                                <h4 class="fw-bold">4</h4>
                            </div>
                            <div>
                                <p class="text-app-blue"><i class="fa fa-diagram-project fa-3x"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-fill">
                                <h6 class="opacity-75 fw-semibold">Number of Participants</h6>
                                <h4 class="fw-bold">2</h4>
                            </div>
                            <div>
                                <p class="text-app-blue"><i class="fa fa-user-group fa-3x"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-fill">
                                <h6 class="opacity-75 fw-semibold">Total Views/Engagement</h6>
                                <h4 class="fw-bold">4k</h4>
                            </div>
                            <div>
                                <p class="text-app-blue"><i class="fa fa-eye fa-3x"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-fill">
                                <h6 class="opacity-75 fw-semibold">Users</h6>
                                <h4 class="fw-bold">23</h4>
                            </div>
                            <div>
                                <p class="text-app-blue"><i class="fa fa-user-group fa-3x"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- <div class="row gy-3">
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
    </div> -->
</sb-layout-dashboard>