<nav class="sb-topnav navbar navbar-expand navbar-light bg-white border-bottom shadow-sm px-2">
    <a class="navbar-brand" routerLink="/dashboard">
        <img src="assets/images/creation-age-logo.png" class="img-fluid float-start" style="width:36px;" />
        <h5 class="text-wrap float-start nav-title text-uppercase py-2 mt-2 text-app-blue">CREATION AGE</h5>
    </a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" data-cy="topNavToggleSideNav" (click)="toggleSideNav()">
      <!-- <fa-icon [icon]='["fas", "bars"]' class="text-app-blue"></fa-icon> -->
      <i class="fa fa-bars text-app-blue"></i>
      </button
    >
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <!-- <app-language-switch switchButtonClass="btn-white text-dark border-0" switchClass="mt-2"></app-language-switch> -->
        </li>
        <sb-top-nav-user></sb-top-nav-user>
    </ul>
</nav>
