<sb-layout-dashboard>
    <sb-dashboard-head title="Sample Project" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <div class="row gy-3">
        <div class="col-xl-8 col-lg-10 col-md-12">
            <div class="card shadow-sm">
                <div class="card-header banner d-flex align-items-end">
                        <div class="d-flex w-100">
                            <div class="flex-fill">
                                <h3 class="m-0 text-white">Sample Project</h3>
                            </div>
                            <button type="button" class="btn btn-light">View Lineage</button>
                        </div>
                </div>
                <div class="card-body">
                    <form class="row gy-3">
                        <div class="col-xl-4 col-lg-6">
                            <p class="text-secondary f12">Name</p>
                            <p class="text-dark f14">Sample Project 1</p>
                        </div>
                        <div class="col-xl-8 col-lg-12">
                            <p class="text-secondary f12">Description</p>
                            <p class="text-dark f14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae tempor urna. Integer ullamcorper lorem eu mi ullamcorper, id volutpat magna convallis. Fusce non nisi non elit interdum volutpat.</p>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <p class="text-secondary f12">Industry</p>
                            <p class="text-dark f14">Health</p>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <p class="text-secondary f12">Phase</p>
                            <p class="text-dark f14">Initiation Phase</p>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <p class="text-secondary f12">Status</p>
                            <p class="text-dark f14">
                                <span class="badge rounded-pill bg-success"><i class="fa fa-check-circle"></i> Open</span>
                                <span class="badge rounded-pill bg-secondary"><i class="fa fa-exclamation-circle"></i> Closed</span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card shadow-sm mt-4">
                <div class="card-header">
                    <h6 class="m-0">Project Participants</h6>
                </div>
                <div class="card-body">
                    
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Skill</th>
                                    <th>Percentage</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Software Engineer</td>
                                    <td>15%</td>
                                    <td>
                                        <div ngbDropdown class="d-inline-block" display="dynamic" placement="bottom-end" container="body">
                                            <button type="button" class="btn btn-remove-outline table-action" id="dropdownBasic1" ngbDropdownToggle>
                                                <i class="fa fa-ellipsis-vertical"></i>
                                            </button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                <button ngbDropdownItem>Edit</button>
                                                <button ngbDropdownItem>Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

    </div>
</sb-layout-dashboard>