<li class="nav-item dropdown dropdown-user no-caret" *ngIf="user!=null" ngbDropdown placement="bottom-end" display="dynamic">
    <a class="nav-link dropdown-toggle mt-n2 px-0 px-md-1" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="d-flex flex-row float-start">
            <div class="flex-fill d-none d-sm-block user-name">
                <h6 class="f12 mt-2">Hi, {{ user.displayName }}</h6>
                <p class="text-mute f10 mt-n2 text-end text-capitalize">{{'System User'}}</p>
            </div>
            <div class="px-md-1 px-0">
                <div class="bg-app-blue border rounded-circle initial shadow-sm">
                    <p class="text-center text-white fw-bold f14">{{getInitial()}}</p>
                </div>
            </div>
        </div>
        <!-- <fa-icon [icon]='["fas", "user-circle"]'></fa-icon> -->
    </a>
    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownUser">
        <h6 class="dropdown-header d-sm-none d-block">
            <div class="dropdown-user-details">
                <div class="dropdown-user-details-name">{{ user.displayName }}</div>
                <div class="dropdown-user-details-email">{{ user.email }}</div>
            </div>
        </h6>
        <div class="dropdown-divider d-sm-none d-block"></div>
        <!-- <a class="dropdown-item" routerLink="/dashboard">Settings</a>
        <a class="dropdown-item" routerLink="/dashboard">Activity Log</a>
        <div class="dropdown-divider"></div> -->
        <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
</li>
