<div *ngIf="canDisplay()">
  <!--links without dropdownn-->
  <div class="d-inline" *ngIf="!sideNavItem.submenu">
    <a
      class="nav-link f14 bg-light text-secondary mx-2 rounded"
      [routerLink]="sideNavItem.link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="expanded = !expanded"
      [ngClass]="{ active: isActive, collapsed: !expanded }"
    >
      <div class="pe-2" *ngIf="sideNavItem.icon">
        <i class="fa fa-fw fa-{{ sideNavItem.icon }}"></i>
      </div>
      {{ sideNavItem.text }}
    </a>
  </div>
  <!--links without dropdown but no parent link-->
  <div class="d-inline" *ngIf="!sideNavItem.link && sideNavItem.submenu">
    <a
      class="nav-link f14 bg-white2 text-secondary mx-2 rounded"
      [routerLink]="sideNavItem.link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="expanded = !expanded"
      [ngClass]="{ active: isActive, collapsed: !expanded }"
    >
      <div class="pe-2" *ngIf="sideNavItem.icon">
        <i class="fa fa-fw fa-{{ sideNavItem.icon }}"></i>
      </div>
      {{ sideNavItem.text }}
      <div class="sb-sidenav-collapse-arrow text-black-50">
        <!-- <fa-icon class="ms-auto" *ngIf="sideNavItem.submenu" [icon]="['fas', 'angle-down']"></fa-icon> -->
        <i
          *ngIf="sideNavItem.submenu"
          class="ms-auto fa fa-angle-down"
        ></i></div
    ></a>

    <nav
      class="sb-sidenav-menu-nested nav"
      *ngIf="sideNavItem.submenu && expanded"
    >
      <sb-side-nav-item
        class="submenu"
        *ngFor="let submenuItem of sideNavItem.submenu"
        [sideNavItem]="submenuItem"
      ></sb-side-nav-item>
    </nav>
  </div>
  <!--links without dropdown and parent link-->
  <div class="d-inline" *ngIf="sideNavItem.link && sideNavItem.submenu">
    <div
      class="nav-link f14 bg-white2 text-secondary mx-2 rounded"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{ active: isActive, collapsed: !expanded }"
    >
      <a
        [routerLink]="sideNavItem.link"
        class="nav-link text-secondary p-0 w-100"
      >
        <div class="d-inline pe-2" *ngIf="sideNavItem.icon">
          <i class="fa  fa-fw fa-{{ sideNavItem.icon }}"></i>
        </div>
        {{ sideNavItem.text }}
      </a>
      <div
        class="sb-sidenav-collapse-arrow text-black-50"
        (click)="expanded = !expanded"
      >
        <i
          *ngIf="sideNavItem.submenu"
          class="ms-auto fa fa-angle-down"
        ></i>
      </div>
    </div>
    <nav
      class="sb-sidenav-menu-nested nav"
      *ngIf="sideNavItem.submenu && expanded"
    >
      <sb-side-nav-item
        class="submenu"
        *ngFor="let submenuItem of sideNavItem.submenu"
        [sideNavItem]="submenuItem"
      ></sb-side-nav-item>
    </nav>
  </div>
</div>
