@import '/src/styles/variables';

.submenu{
    transition: .5s;
}
.nav-link{
    cursor: pointer;
    //margin: 0 10px;
}

.nav-link:hover,
.nav-link.active,
.nav-link:hover .sb-sidenav-collapse-arrow,
.nav-link.active sb-sidenav-collapse-arrow{
    background-color: #E8E9EB !important;
    color: $dark !important;
}

// .nav-link:hover,
// .nav-link.active{
//     //border-left: 4px solid $app-blue-dark2;
// }