<div ngbDropdown class="d-inline-block {{switchClass}}" display="dynamic" placement="bottom-right">
    <button
      class="btn btn-sm f12 {{switchButtonClass}}"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      <!-- <fa-icon [icon]="['fas', 'globe-africa']"></fa-icon> -->
      <i class="fa fa-globe-africa"></i> {{selectedLang}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="switchLang('en')">English</button>
      <button ngbDropdownItem (click)="switchLang('fr')">French</button>
      <button ngbDropdownItem (click)="switchLang('pt')">Portuguese</button>
      <button ngbDropdownItem (click)="switchLang('es')">Spanish</button>
    </div>
  </div>