<!-- <div *ngIf="loadingState==0">
  <div class="row">
    <div class="col-xl-3 col-md-6" *ngFor="let i of [1,2,3,4]">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-row">
            <div class="align-self-center">
              <div class="text-center">
                <p-skeleton shape="circle" size="50px"></p-skeleton>
              </div>
            </div>
            <div class="flex-fill align-self-center">
              <div class="pr-2">
                <p-skeleton shape="rectangle" styleClass="t-3 m-0 py-2 text-right"></p-skeleton>
                <div class="mt-1">
                  <p-skeleton shape="rectangle" styleClass="py-3 d-block ml-auto" width="30px"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div>
            <p-skeleton shape="rectangle" styleClass=""></p-skeleton>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-danger" *ngIf="loadingState==1">
  <h6 class="font-weight-bold"><fa-icon [icon]="['fas', 'times-circle']"></fa-icon> Error</h6>
  <p class="pl-3">{{errorMessage}}</p>
</div>
<div class="row" *ngIf="loadingState==2"> -->
  <!-- <div class="col-xl-3 col-md-6">
    <sb-card-view-details link="/dashboard" background="bg-primary"
      ><div class="card-body">Primary Card</div></sb-card-view-details
    >
  </div>
  <div class="col-xl-3 col-md-6">
    <sb-card-view-details link="/dashboard" background="bg-warning"
      ><div class="card-body">Warning Card</div></sb-card-view-details
    >
  </div>
  <div class="col-xl-3 col-md-6">
    <sb-card-view-details link="/dashboard" background="bg-success"
      ><div class="card-body">Success Card</div></sb-card-view-details
    >
  </div>
  <div class="col-xl-3 col-md-6">
    <sb-card-view-details link="/dashboard" background="bg-danger"
      ><div class="card-body">Danger Card</div></sb-card-view-details
    >
  </div> -->
  <!-- <div class="col-xl-3 col-md-6" *ngIf="isGroupAdmin()">
    <sb-card-view-details link="/users" background="bg-app-blue">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="align-self-center">
            <div class="text-center">
              <p><fa-icon [icon]="['fas', 'users']" size="3x"></fa-icon></p>
            </div>
          </div>
          <div class="flex-fill align-self-center">
            <div class="pr-2">
              <h5 class="pt-3 m-0 text-right">Users</h5>
              <h4 class="text-right pt-1 text-right w-100">{{dashboard?.adminUserCount}}</h4>
            </div>
          </div>
        </div>
      </div>
    </sb-card-view-details>
  </div>
  <div class="col-xl-3 col-md-6">
    <sb-card-view-details link="/teams" background="bg-info">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="align-self-center">
            <div class="text-center">
              <p><fa-icon [icon]="['fas', 'user-friends']" size="3x"></fa-icon></p>
            </div>
          </div>
          <div class="flex-fill align-self-center">
            <div class="pr-2">
              <h5 class="pt-3 m-0 text-right">Teams</h5>
              <h4 class="text-right pt-1 text-right w-100">{{dashboard?.teamsCount}}</h4>
            </div>
          </div>
        </div>
      </div>
    </sb-card-view-details>
  </div>
  <div class="col-xl-3 col-md-6">
    <sb-card-view-details link="/teams/my-teams" background="bg-success">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="align-self-center">
            <div class="text-center">
              <p><fa-icon [icon]="['fas', 'user-friends']" size="3x"></fa-icon></p>
            </div>
          </div>
          <div class="flex-fill align-self-center">
            <div class="pr-2">
              <h5 class="pt-3 m-0 text-right">My Teams</h5>
              <h4 class="text-right pt-1 text-right w-100">{{dashboard?.myTeamsCount}}</h4>
            </div>
          </div>
        </div>
        <hr class="border-white mb-2 d-none" />
        <p class="text-right" *ngIf="dashboard?.teamsLeadByCount ?? 0 > 0">
          <span class="badge badge-light badge-pill text-black-50">{{dashboard?.teamsLeadByCount}} lead by you</span>
        </p>
      </div>
    </sb-card-view-details>
  </div>
  <div class="col-xl-3 col-md-6 d-none">
    <sb-card-view-details link="/dashboard" background="bg-secondary">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="align-self-center">
            <div class="text-center">
              <p><fa-icon [icon]="['fas', 'user-friends']" size="3x"></fa-icon></p>
            </div>
          </div>
          <div class="flex-fill align-self-center">
            <div class="pr-2">
              <h5 class="pt-3 m-0 text-right">Teams Session Histories</h5>
              <h4 class="text-right pt-1 text-right w-100">34</h4>
            </div>
          </div>
        </div>
      </div>
    </sb-card-view-details>
  </div>
</div> -->
