<!--content-->
<div class="row">
  <div class="col-xl-11 col-lg-12">
    <div class="card py-3 rounded-6 shadow-sm">
      <div class="card-body py-lg-4">
        <div class="d-flex flex-row">
          <div class="flex-fill align-self-center">
            <h2>System Users</h2>
            <p class="text-secondary f12" style="line-height: 18px">
              This module handles all user management and configuration setup
              for EDC investor App admin portal users.
            </p>
          </div>

          <div>
            <img
              src="assets/images/System users 1.svg"
              class="img-fluid mb-n5 p-2"
              style="max-width: 200px"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-stretch mt-3">
      <div class="col-sm-3 mb-3">
        <div
          class="d-flex flex-column h-100 bg-white rounded-6 shadow-sm card overflow-hidden menu-card"
        >
          <div class="flex-fill">
            <a routerLink="/individual-users" class="text-decoration-none">
              <div class="card h-100 rounded-0 border-0">
                <div class="card-body p-lg-4">
                  <div class="d-flex flex-column h-100">
                    <div class="flex-fill align-items-center d-flex">
                      <img
                        src="assets/images/system user 2.svg"
                        class="img-fluid d-block mx-auto"
                        style="max-width: 150px"
                      />
                    </div>
                    <div class="text-center">
                      <h5 class="mt-3 text-dark">Individual Users</h5>
                      <p class="text-secondary f12" style="line-height: 18px">
                        This section allows you to Create and manage users.
                      </p>
                      <!-- <a href="#" style="color: #2d6ea8"
                      >Click to Launch Portal</a
                    > -->
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-3">
        <div
          class="d-flex flex-column h-100 bg-white rounded-6 shadow-sm card overflow-hidden menu-card"
        >
          <div class="flex-fill">

            <a routerLink="/user-groups" class="text-decoration-none">
            <!-- <a routerLink="/user-groups" class="menu-link"> -->
            <div class="card h-100 rounded-0 border-0">
              <div class="card-body p-lg-4">
                <div class="d-flex flex-column h-100">
                  <div class="flex-fill align-items-center d-flex">
                    <img
                      src="assets/images/system user 2.svg"
                      class="img-fluid d-block mx-auto"
                      style="max-width: 150px"
                    />
                  </div>

                  <div class="text-center">
                    <h5 class="mt-3 text-dark">User Groups</h5>
                    <p class="text-secondary f12" style="line-height: 18px">
                      This section allows you to Create and manage user groups.
                    </p>
                    <!-- <a href="#" style="color: #2d6ea8"
                        >Click to Launch Portal</a
                      > -->
                  </div>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-3">
        <div
          class="d-flex flex-column h-100 bg-white rounded-6 shadow-sm card overflow-hidden menu-card"
        >
          <div class="flex-fill">
            <!-- <a
                routerLink="/customers/customer-transactions"
                class="menu-link"
              > -->
            <div class="card h-100 rounded-0 border-0">
              <a
                routerLink="/user-activity-tracking"
                class="text-decoration-none"
                href=""
              >
                <div class="card-body p-lg-4">
                  <div class="d-flex flex-column h-100">
                    <div class="flex-fill align-items-center d-flex">
                      <img
                        src="assets/images/system user 2.svg"
                        class="img-fluid d-block mx-auto"
                        style="max-width: 150px"
                      />
                    </div>
                    <div class="text-center">
                      <h5 class="mt-3 text-dark">User Activity Tracking</h5>
                      <p class="text-secondary f12" style="line-height: 18px">
                        This section allows you to effectively track user
                        activities.
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- </a> -->
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-3">
        <div
          class="d-flex flex-column h-100 bg-white rounded-6 shadow-sm card overflow-hidden menu-card"
        >
          <div class="flex-fill">
            <a routerLink="/system-audit-log" class="text-decoration-none">
              <div class="card h-100 rounded-0 border-0">
                <div class="card-body p-lg-4">
                  <div class="d-flex flex-column h-100">
                    <div class="flex-fill align-items-center d-flex">
                      <img
                        src="assets/images/Picture 1.svg"
                        class="img-fluid d-block mx-auto"
                        style="max-width: 150px"
                      />
                    </div>
                    <div class="text-center">
                      <h5 class="mt-3 text-dark">System Audit</h5>
                      <p class="text-secondary f12" style="line-height: 18px">
                        This section allows for investigation of user activities
                        on EDC mobile 5.0 Admin Portal
                      </p>
                      <!-- <a href="#" style="color: #2d6ea8"
                      >Click to Launch Portal</a
                    > -->
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
